@font-face {
	font-family: 'OpenSans';
	font-style: normal;
	font-weight: 400;
	font-display: swap;
	src: url('../fonts/OpenSans.woff2') format('woff2');
}

@font-face {
	font-family: 'OpenSans';
	font-style: normal;
	font-weight: 700;
	font-display: swap;
	src: url('../fonts/OpenSans-700.woff2') format('woff2');
}

@font-face {
	font-family: 'OpenSans';
	font-style: italic;
	font-weight: 400;
	font-display: swap;
	src: url('../fonts/OpenSans-italic.woff2') format('woff2');
}

html {
	background: #8b5afe;
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
	-webkit-user-select: none;
	user-select: none;
}

* {
	font-family: "OpenSans";
	box-sizing: border-box;
}

body {
	margin: 0 1rem;
	display: flex;
	align-items: center;
	justify-content: center;
	min-height: 100vh;
}

.wrapper {
	margin: 1rem 0;
	padding: 20px;
	width: 500px;
	max-width: 95vw;
	background: #ffffff;
	border-radius: 10px;
	text-align: center;
	box-shadow: 8px 8px 20px rgba(0, 0, 0, .2);
}

header {
	font-size: 1.5rem;
	padding: 10px;
	text-align: right;
	color: #8b5afe;
}

section {
	margin: 30px 0 20px 0;

	input {
		height: 50px;
		padding: 0 15px;
		border: 1px solid #cccccc;
	}
}

input,
select {
	font-size: 1rem;
	width: 100%;
	border-radius: 10px;
	border: none;

	&:focus {
		outline: 2px solid #8b5afe;
	}
}

.drop-list {
	display: flex;
	margin-top: 20px;
	align-items: center;
	justify-content: space-between;
}

.select-box {
	display: flex;
	width: 115px;
	height: 45px;
	border-radius: 10px;
	align-items: center;
	justify-content: center;
	border: 1px solid #cccccc;
}

.flag {
	width: 30px;
	height: 20px;
}

.icon {
	color: #5f32ca;
	font-size: 1.4rem;
}

select {
	width: auto;
	background: none;
	margin: 0 -5px 0 5px;
}

#result {
	min-height: 25px;
	margin: 25px 0;
}

input[type=submit] {
	height: 50px;
	color: #ffffff;
	cursor: pointer;
	border: none;
	background: #7443e8;
	transition: .2s;

	&:hover {
		background: #5f32ca;
	}

	&:disabled {
		color: #ffffff;
		background: #4e4e4e;
	}
}